*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #ffffff;

  
}
#cantainer{
  background-color:#ffffffff;
  margin-top: 15px;
  height: 500px;
  text-align: center;
}



.ipt{
  background-color: #e6e6e68b;
  color: #000000;
  margin-top: 50px;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: 0px;
  text-align-last: center;
}
.btr{
  background-color: #00f532;
  margin-top: 50px;
  border: 0px;
  height: 30px;
  width: 100px;
padding: 5px;
border-radius: 10px;
}
#logo{
  margin-top: 0px;
  margin-left: 0px;
  height: 70px;
  width: 70px;
  border-right: 50px;
}
